.container_size_small {
  max-width: 984px;
}

@media (max-width:1024px) {
  .container_size_small {
    max-width: 928px;
  }
}

@media (max-width:768px) {
  .container_size_small {
    max-width: 100%;
  }
}
