.places {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width:1097px) {
  .places {
    padding: 92px 48px 0;
  }
}

@media (max-width:935px) {
  .places {
    gap: 73px;
    padding: 88px 24px 0;
  }
}

@media (max-width:470px) {
  .places {
    gap: 50px;
    padding: 64px 0 0;
  }
}
