.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #fff;
}

@media (max-width:700px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width:390px) {
  .lead__title {
    padding: 0 16px 0;
  }
}

