.intro {
  padding-top: 92px;
  margin: 0 auto;
  max-width: 984px;
}

@media (max-width:1097px) {
  .intro {
    padding: 88px 48px 0;
  }
}

@media (max-width:900px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media (max-width:450px) {
  .intro {
    padding: 64px 16px 0;
  }
}
