.lead__subtitle {
  margin: 32px auto 0;
  padding: 0;
  max-width: 640px;
  /* width: 100%; */
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

@media (max-width:899px) {
  .lead__subtitle {
    margin: 16px auto 0;
    /* font-size: 16px;
    line-height: 20px; */
    padding: 0 16px 0;
  }
}

@media (max-width:700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
