.place__heading {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

@media (max-width:1024px) {
  .place__heading {
    gap: 32px;
  }
}

@media (max-width:976px) {
  .place__heading {
    gap: 28px;
  }
}

@media (max-width:680px) {
  .place__heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

@media (max-width:470px) {
  .place__heading {
    padding: 0 16px;
  }
}
