.header__container {
  margin: 0 auto;
  /* padding: 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1184px; */
}

/* @media (max-width:1297px) {
  .header__container {
    padding: 28px 48px 0;
  }
}

@media (max-width:900px) {
  .header__container {
    padding: 28px 24px 0;
  }
}

@media (max-width:450px) {
  .header__container {
    padding: 16px 16px 0;
  }
} */
