.header__container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:1279px) {
  .header__container {
    padding: 0 48px;
  }
}

@media (max-width:900px) {
  .header__container {
    padding: 0 24px;
  }
}

@media (max-width:450px) {
  .header__container {
    padding: 0 16px;
  }
}
